header {
  background: #cc8e35;
  margin-bottom: 20px;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #cc8e35;
  color: #f7f1e3;
  padding: 20px 0;
  text-align: center;
  font-size: 18px;
}
