<div class="row">
  <div class="col-md-4 product-container" *ngFor="let product of products">
    <div class="product">
      <div class="product-image">
        <img src="{{ product.image || '/assets/empty.png' }}" alt="{{ product.name }}" />
      </div>
      <div class="product-info">
        <div class="product-title">{{ product.name }}</div>
        <div class="product-category">
          <p>
            Category: <span>{{ product.category }}</span>
          </p>
          <p>
            Type: <span>{{ product.type }}</span>
          </p>
          <div class="clearfix"></div>
        </div>
        <div class="product-price">
          <p>
            Price: <span>{{ product.price | currency }}</span>
          </p>
          <p>
            Taxes: <span>{{ product.taxes | currency }}</span>
          </p>
          <div class="clearfix"></div>
        </div>
        <div class="text-center">
          <button type="button" class="btn btn-primary" (click)="addToCart(product)">
            Add to cart
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
