<div class="cart" *ngIf="!!cartService.items.length && cartService.showCart">
  <div>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th></th>
          <th>Name</th>
          <th>Category</th>
          <th>Type</th>
          <th>Price</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cartService.items">
          <td>
            <button class="btn btn-danger" (click)="cartService.removeFromCart(item.id)">X</button>
          </td>
          <td>{{ item.name }}</td>
          <td>{{ item.category }}</td>
          <td>{{ item.type }}</td>
          <td>{{ item.price | currency }}</td>
          <td>{{ item.quantity }}</td>
        </tr>
      </tbody>
    </table>
    <div class="text-right prices">
      <p>
        Total: <span>{{ cartService.getTotalPrice() | currency }}</span>
      </p>
      <p>
        Taxes: <span>{{ cartService.getAllTaxes() | currency }}</span>
      </p>
    </div>
  </div>
  <div class="text-center">
    <button class="btn btn-success buy-now" (click)="buyNow(cartService.prepareOrder())">
      Buy now!
    </button>
  </div>
</div>
<div class="cartIcon" (click)="cartService.toogleCart()">
  <i class="cartIconCounter">{{ cartService.getCartLength() }}</i>
  <img src="/assets/cart.png" alt="cart" />
</div>
